# PostgreSQL:
# postgresql://username:password@host:port/databasee
##########################################################################
CONFIG_DATABASE_URI = 'postgresql://{{ username }}:{{ password }}@{{ host }}:{{ port }}/{{ database }}'
